Source: stonesh
Section: net
Priority: extra
Maintainer: Bennett Samowich <bennett@foolean.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, valgrind, splint, libgeoip-dev
Standards-Version: 3.8.4
Homepage: http://www.foolean.org/stonesh
Vcs-Git: https://github.com/foolean/stonesh.git
Vcs-Browser: https://github.com/foolean/stonesh

Package: stonesh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openssh-client, netcat, libgeoip1
Recommends: libpam-chroot, libpam-script
Description: Mandatory access control shell
 Stonesh, A.K.A "The Stone Shell", is a shell designed to be run on a
 bastion host which facilitates controlled access to internal systems
 without providing command-line access on the bastion host itself.  
 
